{% extends 'base.html' %}
{% block pagetitle %}
Connect
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Connect with us.</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">If you have any questions or suggestions, 
            please feel free to reach out to us. </p>
        <p class="lead" style="font-weight: 500;color: black;">We are here to assist you with any inquiries.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col-md-4">
        <div class="p-3 bg-red shadow rounded-lg" style="width: 90%; height: 100%;">
            <center>
                <h3>Chiranjeevi M N</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Chiranjeevi M N. Currently Pursuing Master of computer application.</p>
            </center>
            <div>
                <h5>Connect with us :</h5><br>
                <a target="_blank" href='mailto:chiranjeevichiru724@gmail.com'><img
                        src="https://i.pinimg.com/originals/8f/c3/7b/8fc37b74b608a622588fbaa361485f32.png" height="40" width="40"></a> :
                chiranjeevichiru724@gmail.com<br><br>

                <a target="_blank" href='https://www.linkedin.com/in/chiranjeevi-m-n/'><img
                        src="https://www.freepnglogos.com/uploads/linkedin-logo-hd-png-3.png" height="40" width="40"></a> :
                Chiranjeevi M N<br>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="p-3 bg-red shadow rounded-lg" style="width: 90%; height: 100%;">
            <center>
                <h3>Jayanth C</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Jayanth C. Currently Pursuing Master of computer application.</p>
            </center>
            <div>
                <h5>Connect with us :</h5><br>
                <a target="_blank" href='mailto:jayanthc.mca@gmail.com'><img
                        src="https://i.pinimg.com/originals/8f/c3/7b/8fc37b74b608a622588fbaa361485f32.png" height="40" width="40"></a> :
                jayanthc.mca@gmail.com<br><br>

                <a target="_blank" href='https://www.linkedin.com/in/chiranjeevi-m-n/'><img
                        src="https://www.freepnglogos.com/uploads/linkedin-logo-hd-png-3.png" height="40" width="40"></a> :
                Jayanth C<br>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="p-3 bg-red shadow rounded-lg" style="width: 90%; height: 100%;">
            <center>
                <h2>Guided by:</h2>
                <h3>Dwarakanath G V</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Dwarakanath G V. Assistant Professor in the Dept. of MCA at BMSIT&M.</p>
            </center>
            <div>
                <h5>Connect with us :</h5><br>
                <!-- Add contact details for the third member here -->
                <a target="_blank" href='mailto:dwarakanathgv@bmsit.in'><img
                        src="https://i.pinimg.com/originals/8f/c3/7b/8fc37b74b608a622588fbaa361485f32.png" height="40" width="40"></a> :
                dwarakanathgv@bmsit.in<br><br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
